
.tab-stripe {
    padding: 0;
    margin: 0;
    border: 1px solid lightgray;

    li
    {
        display: inline-block;

        a
        {
            color: black;
            padding: 8px 12px;
            display: block;
            text-decoration: none;
        }

        &.active a
        {
            color: #337AB7;
        }
    }
}

.tab-item.neutral {
  padding: 5px;
  border: 1px solid lightgray;
}
