/*.form-field-value > input[type="checkbox"]
{
    margin: 0px;
    padding: 0px;
}

.form-field-value input[type=checkbox] {
    width: auto;
}*/

.field
{
    input[type='checkbox']
    {
        position: relative;
        border: none;
        vertical-align: middle;
        -webkit-appearance: none;
        appearance: none;
        cursor: pointer;
        height: 16px;

        &::after
        {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            border: 2px solid #666666;
            border-radius: 2px;
            -webkit-transition: 240ms;
            -o-transition: 240ms;
            transition: 240ms;
            box-sizing: border-box;

        }

        &:focus
        {
            outline: none;
        }

        &:checked::before
        {
            content: "";
            position: absolute;
            top: 2px;
            left: 6px;
            display: table;
            width: 5px;
            height: 10px;
            border: 2px solid #fff;
            box-sizing: border-box;
            border-top-width: 0;
            border-left-width: 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &:checked::after
        {
            background-color: #2196f3;
            border-color: #2196f3;
        }

        &+span
        {
            margin-left: 10px;
        }
    }
}
